# Matlab/Simulink files
*.DS_Store
*.asv
*.m~
slprj/
*_rtw/
*.original
*.r2016a
*.r2016b
*.mat

# Python
*.pyc
*.pyd
*.pyo
*.autosave

# LaTeX files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.xml
*.synctex.gz

# C
*.o
*.a

# MEX FILES
*.mexmaci64
*.tlc
